@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.neon-text{
    color: #00FF88;
}
.white-text{
    color: #ffffff;
}
.p-size{
    font-size: 1rem;
}

/* header section */
.navbar{
    justify-content: space-around;
    padding: 30px;
    background-color: #1A0B2E;
}
.menu-link{
    list-style: none;
    gap: 32px;
    align-items: center;
    padding-top: 7px;
    
}
.menu-link a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.menu-link a:hover{
    font-weight: 700;
    border-bottom: 2px solid #ffffff;
    transition: border-bottom .3s ease;
}
.btn-gradient{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    padding: 12px 16px;
    text-align: center;
    border: none;
    border-radius: 999px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.btn-gradient:hover{
    font-weight: 700;
    transition-delay: .3s;
}
header{
    border-bottom: 1px solid #9100F8;
}
/* hamburger icon hidden on desktop */
.ham-btn{
    display: none;
    font-size: 24px ;
    background-color: #412567;
    color: white;
    border: none;
}

/* hero area */
.hero-area{
    background-image: url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 101px 0;
    margin: 0 auto;
}
.hero-content{
    width: 550px;
    height: 550px;
    text-align: center;
    margin: 0 auto;
}
.hero-area .microphn{
    background-image: url(./images/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 100px;
    margin-bottom: 40px;
}
/* new badge setting */
.microphn{
    position: relative;
    display: inline-block;
}
.new-badge{
    position: absolute;
    top: 3px;
    right: -3px;
    color: black;
    font-size: 1.25rem;
    padding: 8px 16px;
    font-weight: 600;
    border: none;
    border-radius: 999px;
    background-color: #00FF88;
    
}
.hero-title{
    font-size: 3.75rem;
    font-weight: 900;
    margin-bottom: 8px;
}
.two-btn{
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.btn-neon{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    padding: 12px 16px;
    text-align: center;
    border: 1px solid #00FF88;
    border-radius: 999px;
    background: transparent;
}

/* media responsive for small device */
@media screen and (max-width:576px){
    .hide{
        display: none;
    }
    .ham-btn{
        display: block;
    }
    .hero-area{
        padding: 40px 20px;
        text-align: center;
    }
    .hero-content{width: 100%;
    margin-bottom: 30px;
}
    
}

/* media responsive for medium device
@media  and (min-width:576px) and (max-width:992px) {

    .hero-content{width: 100%;}
}


media responsive for desktop
@media screen and (min-width:992px) and (max-width:1600px){
    .hero-content{width: 100%;}

} */

